

.product-card_img {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5% 0px;
}

.product-card_img:hover img {
    transform: translateY(-10px);
}

.product-card_img img {
    transition: all 0.2s;
    width: 125px;
    height: 175px;
}



.add-cart_btn {
    border: none;
    background-color: black;
    color: white;
    padding: 6px 10px;
    font-size: 1.4rem;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}
